/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
*.csproj
*.sln
*.userprefs
.vs/
.vscode/

Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
UserSettings/Layouts/default-2022.dwlt
UserSettings/Layouts/default-2022.dwlt
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
UserSettings/Layouts/default-2022.dwlt
